{% extends 'wrapper.html' %}
{% load static %}
{% block content %}



<div class="">
    <br><br><br><br>
    <div class="display-4">Imkoniyatlar</div>
    <hr>
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="infobox-2 bg-dark text-dark card p-3 mt-2">
                <h5 class="">Layout Package</h5>
                <hr>
                <p class="">Lorem ipsum dolor sit amet, labore et dolore magna aliqua.</p>
                <a class="btn btn-secondary" href="">Ko'proq</a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="infobox-2 bg-dark text-dark card p-3 mt-2">
                <h5 class="">Layout Package</h5>
                <hr>
                <p class="">Lorem ipsum dolor sit amet, labore et dolore magna aliqua.</p>
                <a class="btn btn-primary" href="">Ko'proq</a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="infobox-2 bg-dark text-dark card p-3 mt-2">
                <h5 class="">Layout Package</h5>
                <hr>
                <p class="">Lorem ipsum dolor sit amet, labore et dolore magna aliqua.</p>
                <a class="btn btn-secondary" href="">Ko'proq</a>
            </div>
        </div>
    </div>
</div>


<div class=" mt-5">
    <div class="display-4">So'ngi maqolalar</div>
    <hr>
    <div class="row">
    {% for post in post %}
            
        <div class="col-lg-4 col-sm-12">
            
            <div class="card component-card_2">
                <img src="{{post.bg_image.url}}" class="card-img-top" alt="widget-card-2">
                <div class="card-body">
                    <div class="d-flex">
                        <a href="" class="mt-4"><h6>@{{post.admin.username}}</h6></a>
                    </div><hr>
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.body|truncatewords:'50'|safe}}</p>
                    <a href="#" class="btn btn-secondary">Ko'proq</a>
                </div>
            </div>
                
        </div>
                

    {% endfor %}
        
    </div>
</div>
{% endblock content %}