{% extends 'wrapper.html' %}
{% load static %}
{% block content %}



<div class="">
    <br><br><br><br>
    <div class="display-4">Imkoniyatlar</div>
    <hr>
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="infobox-2 bg-dark text-dark card p-3 mt-2">
                <h5 class="">Bepul va foydali</h5>
                <hr>
                <p class="">Bizning ma'lumotlar mutlaqo bepul, hamda maqolalarni cheksiz yuklashingiz mumkun.</p>
                <a class="btn btn-secondary" href="">Ko'proq</a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="infobox-2 bg-dark text-dark card p-3 mt-2">
                <h5 class="">Layout Package</h5>
                <hr>
                <p class="">Lorem ipsum dolor sit amet, labore et dolore magna aliqua.</p>
                <a class="btn btn-primary" href="">Ko'proq</a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="infobox-2 bg-dark text-dark card p-3 mt-2">
                <h5 class="">Layout Package</h5>
                <hr>
                <p class="">Lorem ipsum dolor sit amet, labore et dolore magna aliqua.</p>
                <a class="btn btn-secondary" href="">Ko'proq</a>
            </div>
        </div>
    </div>
</div>


<div class=" mt-5">
    <div class="display-4">So'ngi maqolalar</div>
    <hr>
    <div class="row">
    {% for post in post %}
            
        <div class="col-lg-6 col-sm-12">
            
            <div class="card component-card_2 m-2">
                <div class="card-body">
                    <div class="">
                    <h3 class="card-title">{{post.title}}</h3>
                    <a href="{{u_detail.get_absolute_url}}" class="mt-4"><h4>@{{post.admin.username}}</h4></a>
                    </div><hr>
                    <p class="card-text">{{post.body|truncatewords:'50'|safe}}</p>
                    <hr>
                    <a href="{{post.get_absolute_url}}" class="btn btn-secondary">Ko'proq</a>
                </div>
            </div>
                
        </div>
                

    {% endfor %}
        
    </div>
</div>


<div class=" mt-5">
    <div class="display-4">So'ngi foydalanuvchilar</div>
    <hr>
    <div class="row">
    {% for post in last %}
            
        <div class="col-lg-6 col-sm-12">
            
            <div class="card component-card_2 m-2">
                <div class="card-body">
                    <div class="">
                    <h3 class="card-title">Ismi:{{post.first_name}}</h3>
                    <a href="{{u_detail.get_absolute_url}}" class="mt-4"><h4>@{{post.username}}</h4></a>
                    </div><hr>
                    <p class="card-text"><b> Bio: </b>{{post.user_profile.bio|truncatewords:'20'}}</p>
                    <hr>
                    <a href="{{post.user_profile.get_absolute_url}}" class="btn btn-danger">Ko'proq</a>
                </div>
            </div>
                
        </div>
                

    {% endfor %}
        
    </div>
</div>
{% endblock content %}